/* resources/css/styles.css */

.container {
  margin: 100px auto;
  max-width: 500px;
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}


.offcanvas-body {
  background-color: #f8f9fa;
  /* Color de fondo del menú */
  padding: 20px;
}

.menu-link {
  display: block;
  color: #333;
  /* Color del texto del enlace */
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  /* Efecto de transición al hacer hover */
}

.menu-link:hover {
  background-color: #e9ecef;
  /* Color de fondo al hacer hover */
}

.menu-link i {
  font-size: 20px;
  /* Tamaño del ícono */
}

.menu-link span {
  font-size: 16px;
  /* Tamaño del texto */
  margin-left: 10px;
}

.custom-table {
  background-color: #f2f2f2;
}

.custom-table tr {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  max-width: 80%;
}

.custom-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table th,
.custom-table td {
  padding: 8px;
}

/* Estilo personalizado para el campo de búsqueda */
.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}

.dataTables_wrapper .dataTables_filter label {
  font-weight: bold;
}
* {
  font-weight: bold;
}
.matriz-riesgo-table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.matriz-riesgo-table th,
.matriz-riesgo-table td {
  padding: 10px;
}

.matriz-riesgo-table th {
  background-color: #f2f2f2;
}

.matriz-riesgo-table th:first-child,
.matriz-riesgo-table td:first-child {
  font-weight: bold;
  background-color: #f2f2f2;
  text-align: left;
}

.matriz-riesgo-table td {
  background-color: #ffffff;
}

.matriz-riesgo-table .controlable {
  background-color: #6ECB63;
  color: #ffffff;
}

.matriz-riesgo-table .atencion {
  background-color: #FFD166;
  color: #ffffff;
}

.matriz-riesgo-table .prioridad {
  background-color: #EF476F;
  color: #ffffff;
}

.matriz-riesgo-table .importante {
  background-color: #FFD166;
  color: #ffffff;
}

.matriz-riesgo-table .alta-prioridad {
  background-color: #EF476F;
  color: #ffffff;
}

.matriz-riesgo-table .critico {
  background-color: #FF3860;
  color: #ffffff;
}
