body {
  background-color: #061372;
  color: #fff;
  font-family: "Arial", sans-serif;
  overflow: hidden;
  font-size: large;
  font-weight: bold;
}

.container {
  margin: 100px auto;
  max-width: 500px;
  padding: 40px;
  background-color: #21059e;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.offcanvas-body {
  background-color: #0c70d4;
  padding: 20px;
}

.menu-link {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu-link:hover {
  background-color: #e9ecef;
}

.menu-link i {
  font-size: 20px;
}

.menu-link span {
  font-size: 16px;
  margin-left: 10px;
}

.custom-table {
  color: #0b3cc0 !important;
}

.custom-table tr {
  background-color: #c60af58f;
  box-shadow: 2px 2px 5px #0000003d;
  border-bottom: 1px solid #ddd;
  color: #ffffff !important;
  max-width: 80%;
}

.custom-table tr:nth-child(even) {
  background-color: #f9f9f923;
}

.custom-table th,
.custom-table td {
  padding: 8px;
}

.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  text-shadow: 5px 5px 15px #fff;
}

.dataTables_wrapper .dataTables_filter label {
  font-weight: bold;
}

.matriz-riesgo-table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.matriz-riesgo-table th,
.matriz-riesgo-table td {
  padding: 10px;
}

.matriz-riesgo-table th {
  background-color: #f2f2f2;
  color: #080808;
}

.matriz-riesgo-table th:first-child,
.matriz-riesgo-table td:first-child {
  font-weight: bold;
  background-color: #f2f2f2;
  text-align: left;
}

.matriz-riesgo-table td {
  background-color: #ffffff;
}

.matriz-riesgo-table .controlable {
  background-color: #6ECB63;
  color: #ffffff;
}

.matriz-riesgo-table .atencion {
  background-color: #FFD166;
  color: #ffffff;
}

.matriz-riesgo-table .prioridad {
  background-color: #EF476F;
  color: #ffffff;
}

.matriz-riesgo-table .importante {
  background-color: #FFD166;
  color: #ffffff;
}

.matriz-riesgo-table .alta-prioridad {
  background-color: #EF476F;
  color: #ffffff;
}

.matriz-riesgo-table .critico {
  background-color: #FF3860;
  color: #ffffff;
}

.shadow-item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 30px;
}

.shadow-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 0.5px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 25%;
}

a {
  color: purple !important;
}

tr:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
}

.modal > span,
.modal > svg,
.modal > i {
  color: #000 !important;
}

form {
  margin: 0 auto;
  width: 100%;
  color: #000;
}

.modal-title, select, input[type="text"], input[type="number"], input[type="date"], input[type="email"], input[type="password"], textarea {
  color: #000 !important;
}
select, input[type="search"] {
  color: #fff !important;

}